<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
			<a class="navbar-brand" href="#">
			<i class="fas fa-adjust"></i>
			<span class="navbar-brand">{{ site.title }}</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
				
					{%- for path in site.header_pages -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item active">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
				</ul>
			</div>
		</nav>

{%- if page.includebanner -%}
<div class = "puregrad mb-5">
			<img src="{{site.url}}/assets/img/haikei.svg" alt="bg" class="img-fluid">
			<p class="text-center display-1 text-light pt-5">NewLife Projects</p>
			<p class="text-center display-4 text-light pb-5">Добро пожаловать!</p>
		</div>
          {%- endif -%}