.puregrad {
	background: linear-gradient(-45deg, #34ebbd, #1a9bc9, #476eed, #0bb3b0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}